*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: 0;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --second-font: "Lato", sans-serif;
  --text-color-white: #fff;
  --bgcolor-black--dark: #1d2630;
 ;
}

html {

  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-white);
  background: var(--bgcolor-black--dark);
}

#Update{
  display: none;
}

a {
  color: var(--text-color-white);
  text-decoration: none;
  transition: all 0.4s linear !important;
}
ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
